<div class="row">
  <div class="col">
    <!--  -->
    <app-search-form 
    (searchChange)="search($event)">
    </app-search-form>
<!--  -->
  </div>
</div>
<div class="row">
  <div class="col">
    <!--  -->
    
    <div class="alert" *ngIf="message">
      {{message}}
    </div>

    <app-result-grid 
      [results]="results"> 
    </app-result-grid>
    <!--  -->
  </div>
</div>
